{% for item in block.buttonOrLink.all() %}
    {% if item.type == "buttons" %}
        <div>{% include '/_includes/_content-builder/_partial/button.twig' with {'button': item, 'title': item.title, 'classes': item.buttonColour ?? colour } %}</div>
    {% elseif item.type == "links" %}
        <div>{% include '/_includes/_content-builder/_partial/link.twig' with {'link': item, 'title': item.title, 'classes': '', 'colour': item.linkColour ?? colour } %}</div> 
    {% endif %}
{% endfor %}