<a href="{{ button.customButton ?? button.customLink }}" class="button {{ classes }}" {% if button.openInNewTab %}target="blank" rel="nopener noreferrer"{% endif %}> 
    {{ title ?? button.title }}
</a> 