<a href="{{ link.customLink ?? button.customLink }}" class="link underline hover:no-underline {{ classes }}" style="color:{{ colour }}" {% if link.openInNewTab %}target="blank" rel="nopener noreferrer"{% endif %}> 
    {{ title ?? button.title }} 
</a> 