{# Set the component's default properties #}
{% set content = category.pageContent.eagerly().all() | default(null) %}

{% extends "_layout" %}

{% block content %}

    <header class="outer bg-white pt-50 pb-20">
        <div class="container mx-auto">
            <div class="">
                <h1 class="text-4xl lg:text-5xl mb-5">
                    Latest Category: {{ category.slug }}
                </h1>
                <div class="">
                    Showing all <u>{{ category.slug }}</u> articles 
                </div>
            </div>
        </div>
    </header>

    {% set category = craft.categories.group('newsCategories').slug(category.slug).one() %}

    {% set section = craft.entries.relatedTo(category) %}
    {% set query = section.limit(9) %}
    {% paginate query as pageInfo, pageEntries %}

    <section class="outer py-20 allArticles-block">
        <div class="container mx-auto">

            <div class="lg:col-span-5 flex flex-wrap mb-10">
                <a href="/latest" class="button button-white mr-2 mb-2">All</a>
                {% for cat in craft.categories().group('newsCategories').all() %}
                    {% include '/_includes/_content-builder/_partial/category-pill.twig' %}
                {% endfor %}
            </div>

            <div class="lg:grid grid-cols-12 gap-10 mb-10" data-infinite-scroll='{ "path": ".pagination__next", "append": ".article-item", "loadOnScroll" : true, "history": false, "status" : ".page-load-status" }'>
                {% for item in pageEntries %}
                    {% include '/_includes/_content-builder/_partial/article-card.twig' %}
                {% endfor %}
            </div>

            {% if pageInfo.totalPages > 1 %}
                <div class="hidden">
                    {% if pageInfo.prevUrl %}
                        <a href="{{ pageInfo.prevUrl }}" class="pagination__prev px-2">prev Page</a>
                    {% endif %}
                </div>

                <div class="page-load-status text-center pb-5 mb-lg-5 mt-4">
                    <div class="infinite-scroll-request button button-black items-center w-[150px] mx-auto">Load more</div>
                    <div class="infinite-scroll-last hidden">No more articles</div>
                    <div class="infinite-scroll-error button button-black w-[150px] mx-auto">Error</div>
                </div>

                <div class="hidden"> 
                    {% if pageInfo.nextUrl %}
                        <a href="{{ pageInfo.nextUrl }}" class="pagination__next px-2">Next Page</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>

    {# Content #}
    {% for index, block in content %}
        {% include '/_includes/_content-builder/_' ~ (block.type.handle | kebab) ignore missing with {
            index: index,
            block: block,
        } only %}
    {% endfor %}

{% endblock %}