<div class="header-outer">
    <div class="pageHeader videoHeader">
        {% set vid = header.video.one %}
        {% if vid %}
            {% if vid.type == 'externalVideo' %}
                {% if vid.video.media.type == 'video' %}
                    {{ vid.video.render({
                        params: {
                            autoplay: 1,
                            controls: 0,
                            loop: 1,
                            mute: 1,
                        }
                    })
                    }}
                {% endif %}
            {% elseif vid.video.one %}
                <video autoplay loop muted playsinline>
                    <source src="{{ vid.video.one.url }}">
                </video>
            {% endif %}
        {% else %}
            <video autoplay loop muted playsinline>
                <source src="./img/video_placeholder.mp4">
            </video>
        {% endif %}
        <h1 class="text-white">{{ header.header }}</h1>
    </div>
</div>