{% set footerNav = craft.navigation.nodes().handle('footerNavigation').level(1).all() %}

<footer>
    <div class="container text-center text-sm-left">
        <div class="row py-4">
            <div class="col-12 col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, nemo odit praesentium quas quidem suscipit totam vel! Aliquid assumenda autem blanditiis ducimus minima non. Commodi delectus dolorem iure mollitia voluptate.</div>
            <div class="col-12 col-sm-6 footer-nav-links d-flex flex-column align-items-center align-items-sm-end pt-4 pt-sm-0">
                {% for item in footerNav %}
                    <div class="item px-3">
                        <a href="{{ item.url }}" class="link">{{ item.title }}</a>
                        {% if item.children | length %}
                            <div class="sub-menu">
                                {% for child in item.children.all() %}
                                    <a class="link" href="{{ child.url }}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>