<footer class="container">
    <div class="row">
        <div class="col-12">
            Hi, I'm your FOOTER and I live in <strong>"[root]/templates/_includes/_globals/footer.twig"</strong>
        </div>
    </div>
</footer>