<nav class="container">
    <div class="row">
        <div class="col-12">
            Hi, I'm your NAV and I live in <strong>"[root]/templates/_includes/_globals/nav.twig"</strong>
        </div>
    </div>
</nav>

