<div class="outer py-5" style="background-color: {{ block.backgroundColour }};" id="anchor-{{ block.id }}">
    <div class="container embed-block">
        <div class="row">
            {% if block.embedCode | length %}
                <div class="col-12 ">{{ block.embedCode | raw }}</div>
            {% endif %}
        </div>
    </div>
</div>