<section class="outer py-10 lg:py-20" style="background-color: {{ block.backgroundColour }}" id="anchor-{{ block.id }}">
    <div class="w-full image-block">
       {% if block.image.one() %}
            <img data-src="{{ block.image.one.url({ width: 1920, format: 'webp' }) }}" alt="{{ block.image.one.title }}" class="w-full lazy">
        {% else %}
            <img src="https://placehold.co/1920x1080.jpg" alt="placeholder image" class="w-full lazy">
        {% endif %}
    </div>
</section>