
<div class="outer py-5" style="background-color: {{ block.backgroundColour }};" id="anchor-{{ block.id }}">
    <div class="container slider-block">
        <div class="row">
        {% if block.sliderMatrix.one %}
            <section class="splide" aria-label="Splide Basic HTML Example" data-slider>
                <div class="splide__track">
                    <ul class="splide__list w-100">
                        {% for item in block.sliderMatrix %}
                            <li class="splide__slide w-100">{{ item.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}    
        </div>
    </div>
</div>          