<section class="outer text-block py-10 lg:py-20" style="background-color: {{ block.backgroundColour }};" id="anchor-{{ block.id }}">
    <div class="container mx-auto" style="color: {{ block.textColour }};">
        {% if block.text | length %}
            <div data-rich-text>{{ block.text }}</div>
        {% endif %}
    </div>
</section>