/* Tell Tailwind where to scan for classes (replaces `content: [...]`) */

/* @source "config/project/fields/*.yaml"; */
/* @source "config/colour-swatches.php"; */
/* @source "config/project/matrixBlockTypes/*.yaml"; */

/* Safelist */
/* @source inline('{md:,lg:,xl:,2xl:,3xl:,}{m,p}{t,b}-{1..100}');
@source inline('{md:,lg:,xl:,2xl:,3xl:,}w-{1..12}');
@source inline('opacity-{0..100}');
@source inline('text-{left,center,right}'); */

/* Utilities */
/* @utility container {
	margin-inline: auto;
	max-width: 160rem;
} */

/* Theme */
@theme {
	/* Breakpoints */
	/* --breakpoint-2xl: 87.5rem;
	--breakpoint-3xl: 112.5rem; */

	/* Spacing */
	/* --spacing-base: 1.5rem;
	--spacing-base-md: 2rem;
	--spacing-base-xl: 3rem;
	--spacing-base-2xl: 4rem;
	--spacing-base-3xl: 5rem;
	--spacing-18: 4.5rem; */

	/* Colours */
	--color-black: #06120e;
	--color-white: #fff;
    --color-navy: #1D252A;
	/* --color-grey: #121c22;
	--color-grey-90: #1d252a;
	--color-grey-80: #3f4846;
	--color-grey-70: #aeb2b4;
	--color-grey-60: #9d9d9d;
	--color-green: #163b31;
	--color-green-90: #122f27;
	--color-green-80: #0d1c18;
	--color-yellow: #fffe3b; */

	/* Font Families */
	/* --font-sans: "Regola", "Verdana", sans-serif; */
}