{% set content = entry.pageContent.eagerly().all() | default(null) %}

{% extends "_layout" %}

{% block content %}

<div class="outer bg-grey article-entry pt-30 lg:pt-50 pb-20">
    <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 md:col-span-10 lg:col-span-8 lg:col-start-3">
                <div class="mb-2">{{ entry.postDate | date("d.m.y") | upper }}</div>
                <h1 class="text-3xl lg:text-4xl {% if entry.newsCategories.one %}mb-3{% else %}mb-5{% endif %}">{{ entry.title }}</h1>
                {% if entry.newsCategories.one %}
                    <div class="flex flex-wrap mb-4">
                        {% for cat in entry.newsCategories.limit(3).all() %}
                            {% include '/_includes/_content-builder/_partial/category-pill.twig' %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if entry.text | length %}
                    <div data-rich-text class="article-copy mt-10">{{ entry.text }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="py-20">
    <div class="container mx-auto">
        <h2 class="mb-10 text-3xl">Related Articles</h2>
        <div class="lg:grid grid-cols-12 gap-10 mb-10">
            {% for item in craft.entries.section('latest').id('not ' ~ entry.id).relatedTo(entry.newsCategories.one).limit(3).all() %}
                {% include '/_includes/_content-builder/_partial/article-card.twig' %}
            {% endfor %}
        </div>
    </div>
</div>

{# Content #}
{% for index, block in content %}
    {% include '/_includes/_content-builder/_' ~ (block.type.handle | kebab) ignore missing with {
        index: index,
        block: block,
    } only %}
{% endfor %}


{% endblock %}