{% extends "_layout" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="py-4">
                    {{ entry.title }}
                </h1>
            </div>
            <div class="col-12">
                <div class="copy">{{ entry.copy }}</div>
            </div>
        </div>
    </div>

{% endblock %}