{% extends "_layout" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ entry.header }}</h1>
                <div class="copy">{{  }}</div>
            </div>
        </div>
    </div>

{% endblock %}