<div class="outer {{ block.backgroundColor }}">
    <div class="container {{ block.topSpacing }} {{ block.bottomSpacing }} button-block">
        <div class="row py-5">
            <div class="col-12">
                {% include '/_includes/_content-builder/_partial/buttons.twig' with {"buttons": block.button, "classes": "" } %}
            </div>
        </div>
    </div>
</div>