<div class="container {{ block.topSpacing }} {{ block.bottomSpacing }} {{ block.backgroundColor }} copy-block">
    <div class="row">
        <div class="col-12">{{ block.copy }}</div>
    </div>
</div>