{% extends "_layout" %}

{% block content %}

    {% if entry.pageHeader.count() %}
        {% set header = entry.pageHeader.one %}
        {% include '_includes/_page-headers/_' ~ header.type.handle %}
    {% endif %}

    <div class="container contact-form">
        <div class="row">
            <div class="col-8">
                {{ craft.freeform.form("contactForm", {
                    submitClass: "button"
                }).render() }}
            </div>
        </div>
    </div>

    {% if entry.contentBuilder %}
        {% for block in entry.contentBuilder.all() %}
            {% include '_includes/_content-builder/_blocks/' ~ block.type.handle %}
        {% endfor %}
    {% endif %}

{% endblock %}