{% if hero.backgroundImage.one() %}
    {% set bg = 'background-image: url("' ~ hero.backgroundImage.one.url() ~ '");'%}
{% else %}
    {% set bg = 'background-image: url("https://placehold.co/1920x1080.jpg");'%}
{% endif %}

<header class="outer">
	<div class="imageHeader aspect-5/2 bg-cover bg-no-repeat bg-center" style="background-color: {{ hero.backgroundColour }}; {{ bg }}">
		<div class="container mx-auto flex flex-col h-full pt-20 pb-10">
            <div class="mt-auto">
                {% if hero.title | length %}
                    <h1 class="text-3xl md:text-5xl lg:text-7xl {% if hero.text | length %}mb-5{% endif %}">
                        {{ hero.title }}
                    </h1>
                {% endif %}
                {% if hero.text | length %}
                    <div class="">
                        {{ hero.text }}
                    </div>
                {% endif %}
            </div>
		</div>
	</div>
</header>