<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% hook "seo" %}
    {% include '_includes/_global/icons' %}

    <link rel="home" href="{{ siteUrl }}" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/twentytwenty.css" type="text/css" media="screen" />

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.filterizr.min.js"></script>
    <script src="/js/jquery.event.move.js" type="text/javascript"></script>
    <script src="/js/jquery.twentytwenty.js" type="text/javascript"></script>
    <script src="/js/app.js"></script>
    {% include '_includes/_global/tracking-scripts' %}
</head>
{% spaceless %}
    <body id="body">

    {% include "_includes/_global/nav.twig" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include "_includes/_global/footer.twig" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <!--<svg></svg>-->

    </body>
{% endspaceless %}
</html>
