.contact-form
  .ff-form-success
    color: blue

.imageSlider-block
  .slider-wrap
    height: 40rem
    .slide
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      .slide-inner
        height: 100%
        width: 80%
        img
          width: 100%
          height: 100%
          object-fit: cover


