html, body
  overflow-x: hidden
  padding: 0
  margin: 0
html.no-scroll
  overflow-y: hidden

@media (min-width: 576px)
  .container
    max-width: 90%
@media (min-width: 2150px)
  .container
    max-width: 2000px
  .container-fluid
    max-width: 3000px
  .outer
    max-width: 3000px
    margin: auto

// Background color classes
.bg-white
  background-color: white
.bg-black
  background-color: black

// Font color classes
.text-white
  color: white
.text-black
  color: black

.spacer
  &--small
    --setHeight: 75px
    height: var(--setHeight)
    @media screen and (max-width: 991px)
      height: calc(var(--setHeight) / 2)
    @media screen and (max-width: 576px)
      height: calc(var(--setHeight) / 4)
  &--medium
    --setHeight: 150px
    height: var(--setHeight)
    @media screen and (max-width: 991px)
      height: calc(var(--setHeight) / 2)
    @media screen and (max-width: 576px)
      height: calc(var(--setHeight) / 4)
  &--large
    --setHeight: 300px
    height: var(--setHeight)
    @media screen and (max-width: 991px)
      height: calc(var(--setHeight) / 2)
    @media screen and (max-width: 576px)
      height: calc(var(--setHeight) / 4)
  &--extra-large
    --setHeight: 600px
    height: var(--setHeight)
    @media screen and (max-width: 991px)
      height: calc(var(--setHeight) / 2)
    @media screen and (max-width: 576px)
      height: calc(var(--setHeight) / 4)

// forms success message
form
  .ff-form-success
    padding: 15px
    border: 1px solid #d4edda
    background: #d4edda
    border-radius: 5px
    color: #155724
    width: 100%
    margin-bottom: 20px
    p
      &:last-of-type
        margin-bottom: 0