@use 'variables'

nav#main-nav
  position: relative
  z-index: 1000
  background-color: variables.$nav-background
  .navbar-logo
    img
      position: relative
      z-index: 9999
      max-height: 60px
      object-fit: contain
  .navbar-links
    .item
      position: relative
      &:hover
        > .sub-menu
          visibility: visible
          opacity: 1
          transform: translateY(0)
          transition-delay: 0s
      &.active
        text-decoration: underline
      .link
        color: white
        padding: .5rem
        &:visited
          color: white
        &:hover
          text-decoration: underline
      .sub-menu
        visibility: hidden
        opacity: 0
        position: absolute
        left: 0
        top: calc(100% + .5rem)
        width: 10rem
        transform: translateY(-10%)
        transition: .2s ease-in-out .1s
        background-color: rgb(208, 208, 208)
        .link
          color: black
        .sub-menu
          left: 100%
          top: 0
        &.left
          .sub-menu
            right: 100%
            left: unset

    #mobile-navbar-toggle
      display: none
      z-index: 9999
    @media (max-width: 992px)
      .item
        display: none
      #mobile-navbar-toggle
        display:  flex

  .mobile-navbar-links
    background-color: variables.$nav-background
    position: absolute
    z-index: 10
    padding: 8rem 0 2rem
    width: 0
    height: 100vh
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
    transition: opacity 0.25s ease 0s, width 0s 0.25s, visibility 0s 0.25s

    &.active
      width: 100vw
      opacity: 1
      visibility: visible
      transition: opacity 0.25s ease

    .item
      padding: .6rem .5rem 0 0
      font-size: 1.2rem
      position: relative
      &.active
        .link
          text-decoration: underline
        .sub-menu .link
          text-decoration: none
      .link
        color: white
        &:visited
          color: white
        &:hover
          text-decoration: underline !important
      .sub-menu
        max-height: 0
        overflow: hidden
        transition: max-height 0.25s ease-in-out 0s
        &.active
          transition: max-height 0.25s ease-in-out 0s
          max-height: 100vh
        .item
          .link, .link:visited
            font-size: 1rem
            color: #414141FF
          .dropdown-toggle::after
            color: #414141FF
      .dropdown-toggle
        background: none
        border: none
        color: white
        &::after
          transition: .25s ease-in-out
        &.active::after
          transform: scaleY(-1)
